body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	max-width: 1266px;
	margin: 0 auto 30px;
}
.user-list,
.friend-list {
	padding: 20px;
	margin-bottom: 20px;
}
.search {
	margin-bottom: 20px;
}

.login {
	display: flex;
	margin: 160px 30px;
	justify-items: center;
	flex-direction: column;
}

.status {
	color: #888;
	margin: 10px;
}

.loading {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 30px auto;
}
